body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#00afb9, #f07167);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #f07167;
    margin-bottom: 10px;
}

#bday-age {
    background: #f07167;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #f07167;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNDR3ODNjOGVlb3VwYXQyYjZ2bGtjeHNjbGI1MzBnZm5zMGhpa2k1NyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/rjkJD1v80CjYs/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcmtjeHVoczRiZW9jN2Z3Y251YnB5ZjFiNjFqODM4bGs4YWtudDBpeCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ckB5razpgN2rd4qTfe/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExa2dkbXl0ZXp3em15MWNjbXkybTFnOHRlcG5wYnEwejN2eW1lOGxmbiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ZuhmYnikJOPPq/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("images/badass.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

audio {
    width: 25%;
}